<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asmaulhusna">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Activity.ContactActivity"></activity>
        <activity android:name=".Activity.TentangActivity" />
        <activity android:name=".Activity.HighScoreActivity" />
        <activity android:name=".Activity.QuizActivity" />
        <activity android:name=".Activity.FavoriteActivity" />
        <activity android:name=".Activity.ManfaatAsmaulHusna" />
        <activity android:name=".Activity.KaidahAsmaulHusna" />
        <activity android:name=".Activity.DetailAsmaulhusna" />
        <activity android:name=".Activity.AsmaulHusna" />
        <activity android:name=".Activity.MenuUtama" />
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>